<head>
  <meta charset="UTF-8">
  <title>PEI Open Data Book Club</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="http://peidevs.github.io/OpenDataBookClub/stylesheets/normalize.css" media="screen">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="http://peidevs.github.io/OpenDataBookClub/stylesheets/stylesheet.css" media="screen">
  <link rel="stylesheet" type="text/css" href="http://peidevs.github.io/OpenDataBookClub/stylesheets/github-light.css" media="screen">
</head>
