
/*
yellow lion - #F7C636;  
green tree  - #24531F;
brown tree  - #4D2F1D;
*/

.well {
    background-color: #F0F5F5;
}

a:link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #4D2F1D;
}

a:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #24531F;
}

